@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    padding: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

section.start {
    position: relative;
    height: 100vh;
}

section.start div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

section.start div p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
}

section.start div h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
}

section.start div h1 span {
    font-size: 25px;
}

section.start img {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 40%);
    width: 50px;
    animation: arrow 1s ease infinite alternate;
}

@keyframes arrow {
    from {
        transform: translate(-50%, 40%);
    }

    to {
        transform: translate(-50%, 60%);
    }
}

section.start-message {
    position: relative;
    height: 100vh;
}

section.start-message div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

section.story {
    padding: 0;
    position: relative;
    height: 600vh;
    background: #000;
}

section.story .sticky-wrap {
    position: sticky;
    top: 0;
    height: 100vh; /* 화면에 고정되는 영역 */
}

section.story .sticky-wrap .step {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease-out;
}

section.story .sticky-wrap .step img {
    height: 100vh;
    opacity: 0;
    transition: .5s all;
}

section.story .sticky-wrap .step div {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 150%);
  opacity: 0;
  transition: .5s all;
}

/* 스크롤시 */

section.story .sticky-wrap .step.active img {
  opacity: 1;
}

section.story .sticky-wrap .step.active div {
  transform: translate(-50%, 50%);
  opacity: 1;
}