@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Monsieur+La+Doulaise&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    padding: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

section.start {
    position: relative;
    height: 100vh;
}

section.start div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

section.start div p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
}

section.start div h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
}

section.start div h1 span {
    font-size: 25px;
}

section.start img {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 40%);
    width: 50px;
    animation: arrow 1s ease infinite alternate;
}

@keyframes arrow {
    from {
        transform: translate(-50%, 40%);
    }

    to {
        transform: translate(-50%, 60%);
    }
}

section.start-message {
    position: relative;
    height: 100vh;
}

section.start-message div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

/* 여기서부터 */

section.story {
    position: relative;
    padding: 0;
    height: 1500vh;
    background: #000;
}

section.story .sticky-wrap {
    position: sticky;
    top: 0;
    height: 100vh; /* 화면에 고정되는 영역 */
}

section.story .sticky-wrap .background {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

section.story .sticky-wrap .background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/assets/Vignetting.png) no-repeat center / cover;
}

section.story .sticky-wrap .background div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

section.story .sticky-wrap .background div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    opacity: 0;
    transition: 1s all;
}

section.story .sticky-wrap .title div {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 150%);
    width: 100%;
    color: #fff;
    opacity: 0;
    transition: .5s all;
}

section.story .sticky-wrap .title div b {
    font-size: 15px;
    font-weight: 500;
}

section.story .sticky-wrap .title div h1 {
    font-size: 30px;
    font-weight: 900;
}

section.story .sticky-wrap .title div p {
    font-size: 12.5px;
    font-weight: 100;
}

section.story .sticky-wrap .title div:nth-child(1) {
    bottom: 150%;
    opacity: 1;
}

section.story .sticky-wrap .title div:nth-child(1) b {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
}

section.story .sticky-wrap .title div:nth-child(1) h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
}


/* 활성화 */

section.story .sticky-wrap .background div.active img {
    opacity: 1;
}

section.story .sticky-wrap .background div:nth-child(1).active img {
    opacity: 0.3;
}

section.story .sticky-wrap .title div:nth-child(1).active {
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
}

section.story .sticky-wrap .title div.active {
    transform: translate(-50%, 50%);
    opacity: 1;
}

section.story .sticky-wrap .background div.past img {
    opacity: 1;
}

/* #우리는 5년동안 */

.memory {
    padding: 0;
    background: #000;
    color: #fff;
}

.memory > div {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.memory > div div h1 {
    font-size: 30px;
    font-weight: 900;
    transition: .5s all;
}

.memory > div:nth-child(1) > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: .5s all ease;
}

.memory > div:nth-child(1) > div h1 {
    scale: 0;
}

.memory > div:nth-child(1).active > div h1 {
    scale: 1;
}

.memory > div:nth-child(2) > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.memory > div:nth-child(2) div div.memory-nickname {
    width: 100%;
    overflow: hidden;
}

.memory > div:nth-child(2) div div.memory-nickname ul {
    display: flex;
    white-space: nowrap;
    margin: 100px auto;
    list-style: none;
    transition: .5s margin;
}

.memory > div.active:nth-child(2) div div.memory-nickname ul {
    margin: 10px auto;
}

.memory > div:nth-child(2) div div.memory-nickname ul li {
    display: inline-block;
    padding: 7.5px 15px;
    margin: 0 5px;
    border-radius: 30px;
    background: #fff;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    box-sizing: border-box;
}

.memory > div:nth-child(3) > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.memory > div:nth-child(3) > div video {
    width: 100%;
}

.memory > div:nth-child(4) > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.memory > div:nth-child(4) > div:nth-child(1) {
    background: #15161a;
}

.memory > div:nth-child(4) > div:nth-child(1) img {
    width: 100%;
    transform: translate(-100%);
    transition: .5s all;
}

.memory > div:nth-child(4) > div:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    background: url(../images/assets/Vignetting.png) no-repeat center / cover;
}

.memory > div:nth-child(4) > div:nth-child(2) {
    left: -50%;
    filter: drop-shadow(0 0 10px #fff);
    transition: .5s all;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img {
    transform: translate(0%);
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(1) {
    transition: .5s all;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(2) {
    transition: .5s all .25s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(3) {
    transition: .5s all .5s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(4) {
    transition: .5s all .75s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(5) {
    transition: .5s all 1s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(6) {
    transition: .5s all 1.25s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(7) {
    transition: .5s all 1.5s;
}

.memory > div.active:nth-child(4) > div:nth-child(1) img:nth-child(8) {
    transition: .5s all 1.75s;
}

.memory > div.active:nth-child(4) > div:nth-child(2) {
    left: 50%;
}

.memory > div:nth-child(5) {
    padding: 80px 0 500px 0;
    height: auto;
    transition: .5s all;
}

.memory > div.active:nth-child(5) {
    padding: 80px 0 80px 0;
}

.memory > div.active:nth-child(5) div h1 {
    font-size: 30px;
}

/* 사진으로 돌아보는 EON */

.with-photo {
    padding: 0;
}

.with-photo > h1 {
    padding: 40px;
    font-weight: 900;
}

.with-photo .gallery {
    display: flex;
    flex-wrap: wrap;
}

.with-photo .gallery div {
    overflow: hidden;
    position: relative;
    flex: 1 1 33%;
    aspect-ratio: 1 / 1;
    background: #000;
}

.with-photo .gallery div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.with-photo .gallery div img:hover {
    scale: 1.5;
}

.with-photo .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.with-photo .lightbox img {
    max-width: calc(100% - 40px);
    max-height: calc(100vh - 100px);
    border-radius: 10px;
}

.with-photo .lightbox button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.with-photo .lightbox button.close {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url(../images/icon/close-line.svg) no-repeat center / cover;
}

.with-photo .lightbox button.prev {
    left: 10px;
    width: 30px;
    height: 60px;
    background: url(../images/icon/arrow-left-wide-line.svg) no-repeat center / cover;
}

.with-photo .lightbox button.next {
    right: 10px;
    width: 30px;
    height: 60px;
    background: url(../images/icon/arrow-right-wide-line.svg) no-repeat center / cover;
}


/* 숫자로 보는 EON */

.with-number {
    padding: 0;
    height: 100vh;
}

.with-number > h1 {
    padding: 40px;
    font-weight: 900;
}

.with-number ul {
    overflow-x: scroll;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    text-wrap: nowrap;
}

.with-number ul::-webkit-scrollbar {
    height: 5px;
}

.with-number ul::-webkit-scrollbar-thumb {
    background: #000;
}

.with-number ul::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.with-number ul li {
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 250px;
    height: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 23px;
    list-style-type: none;
}

.with-number ul li:nth-child(n+2) {
    margin: 0 0 0 20px;
}

.with-number ul li div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.with-number ul li div p {
    font-weight: 300;
}

.with-number ul li div h1 {
    font-weight: 900;
}

/* with-number individual style */

.with-number ul:nth-child(2) li:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: url(../images/assets/members.png) no-repeat center / cover;
}

.with-number ul:nth-child(2) li:nth-child(1) div {
    top: 35%;
}

.with-number ul:nth-child(2) li:nth-child(1) div p {
    padding: 0 0 10px 0;
    font-size: 15px;
}

.with-number ul:nth-child(2) li:nth-child(1) div h1 {
    font-size: 120px;
    line-height: 75px;
}

.with-number ul:nth-child(2) li:nth-child(1) div h1 span {
    font-size: 50px;
    line-height: 75px;
    vertical-align: 15px;
}

.with-number ul:nth-child(2) li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(100%,100%);
    width: 100%;
    height: 200px;
    background: url(../images/assets/asg.png) no-repeat center / 130%;
    filter: brightness(0) blur(10px);
    animation: asg1 10s ease infinite;
}

@keyframes asg1 {
    0% {
        transform: translate(150%,150%);
    }

    20% {
        transform: translate(-50%,-50%);
        filter: brightness(0) blur(10px);
    }

    30% {
        filter: brightness(0) blur(1px);
    }

    40% {
        filter: brightness(0) blur(10px);
    }

    50% {
        filter: brightness(0) blur(0px);
    }

    60% {
        filter: brightness(0) blur(10px);
    }

    70% {
        filter: brightness(0) blur(1px);
    }

    80% {
        transform: translate(-50%,-50%);
        filter: brightness(0) blur(10px);
    }

    100% {
        transform: translate(-150%,-150%);
    }
}

.with-number ul:nth-child(2) li:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(100%,100%);
    width: 100%;
    height: 200px;
    background: url(../images/assets/asg.png) no-repeat center / 130%;
    animation: asg2 10s ease infinite;
}

@keyframes asg2 {
    0% {
        transform: translate(150%,150%);
    }

    20% {
        transform: translate(-50%,-52.5%);
    }

    30% {
        transform: translate(-50%,-50%);
    }

    40% {
        transform: translate(-50%,-52.5%);
    }

    50% {
        transform: translate(-50%,-50%);
    }

    60% {
        transform: translate(-50%,-52.5%);
    }

    70% {
        transform: translate(-50%,-50%);
    }

    80% {
        transform: translate(-50%,-52.5%);
    }

    100% {
        transform: translate(-150%,-150%);
    }
}

.with-number ul:nth-child(2) li:nth-child(2) div {
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%) skew(50deg,-30deg);
}

.with-number ul:nth-child(2) li:nth-child(2) div p {
    padding: 5px 0 0 0;
    font-size: 15px;
}

.with-number ul:nth-child(2) li:nth-child(2) div h1 {
    font-size: 40px;
    line-height: 1;
}

.with-number ul:nth-child(2) li:nth-child(2) div h1 span {
    font-size: 20px;
    line-height: 1;
}


.with-number ul:nth-child(2) li:nth-child(2) div h1 span:nth-child(2) {
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    line-height: 1;
    vertical-align: bottom;
}

.with-number ul:nth-child(2) li:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 62.5%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 200px;
    background: url(../images/assets/blitz.png) no-repeat center / 100%;
    filter: brightness(0) blur(1px);
    animation: blitz1 3s ease infinite alternate;
}

@keyframes blitz1 {
    0% {
        filter: brightness(0) blur(1px);
    }

    100% {
        filter: brightness(0) blur(10px);
    }
}

.with-number ul:nth-child(2) li:nth-child(3)::after {
    content: "";
    position: absolute;
    left: 62.5%;
    top: 50%;
    transform: translate(-50%,-52%);
    width: 100%;
    height: 200px;
    background: url(../images/assets/blitz.png) no-repeat center / 100%;
    animation: blitz2 3s ease infinite alternate;
}

@keyframes blitz2 {
    0% {
        transform: translate(-50%,-52%);
    }

    100% {
        transform: translate(-50%,-54.5%);
    }
}

.with-number ul:nth-child(2) li:nth-child(3) div {
    top: 10%;
    transform: translate(-60%,20%) skew(50deg,-30deg);
}

.with-number ul:nth-child(2) li:nth-child(3) div p {
    padding: 0 0 20px 0;
    font-size: 15px;
}

.with-number ul:nth-child(2) li:nth-child(3) div h1 {
    font-size: 45px;
    line-height: 1;
    transform: translateX(-4%);
}

.with-number ul:nth-child(2) li:nth-child(3) div h1 span {
    font-size: 20px;
    line-height: 1;
}

.with-number ul:nth-child(2) li:nth-child(3) div h1 span:nth-child(2) {
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    line-height: 1;
    vertical-align: bottom;
}

.with-number ul:nth-child(3) li:nth-child(1) p:nth-child(1) {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translate(0%,-50%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
}

.with-number ul:nth-child(3) li:nth-child(1) p:nth-child(2) {
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translate(0,-50%);
    padding: 15px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
}

.with-number ul:nth-child(3) li:nth-child(1)::before {
    content: "2021년 2월 17 - 2025년 11월 22일, 방장봇제외";
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 10px;
    font-weight: 100;
}

.with-number ul:nth-child(3) li:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -20%);
    width: 200px;
    height: 200px;
    background: url(../images/assets/alliancebase.png) no-repeat center / 90%;
}

.with-number ul:nth-child(3) li:nth-child(2) div {
    top: 35%;
}

.with-number ul:nth-child(3) li:nth-child(2) div p {
    padding: 0 0 10px 0;
    font-size: 15px;
}

.with-number ul:nth-child(3) li:nth-child(2) div h1 {
    font-size: 100px;
    line-height: 75px;
    transform: translateX(-5%);
}

.with-number ul:nth-child(3) li:nth-child(2) div h1 span {
    font-size: 50px;
    line-height: 75px;
    vertical-align: top;
}

/* 이벤트 */

.event > div {
    padding: 30px 10px;
}

.event {
    padding: 0;
}

.event div p {
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
}

.event div b {
    font-weight: 700;
}

.event div h1 {
    padding: 5px;
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
}

.event div div {
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background: #000;
}

.event div:nth-child(1) div::after {
    content: "전원지급";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(25%,25%);
    padding: 5px;
    border-radius: 10px;
    background: red;
    font-size: 10px;
    line-height: 10px;
    box-sizing: border-box;
}

.event div:nth-child(1) div::before,
.event div:nth-child(2) div::before {
    content: "???";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.event div:nth-child(2) div::after {
    content: "3명";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(25%,25%);
    padding: 5px;
    border-radius: 10px;
    background: red;
    font-size: 10px;
    line-height: 10px;
    box-sizing: border-box;
}

.event div a {
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    box-sizing: border-box;
}

.ending {
    position: relative;
    height: 600px;
    background: url(../images/assets/sea.png) no-repeat bottom / cover;
}

.ending div {
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translate(-50%,-20%);
    width: 100%;
}

.ending div h1 {
    margin: 20px auto;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.ending div p {
    font-size: 15px;
    font-weight: 100;
}

.ending div a {
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    margin: 20px auto;
    background: #fff;
    border-radius: 50px;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    box-sizing: border-box;
}

.ending > h1 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    font-weight: 900;
    filter: drop-shadow(0 0 40px #fff);
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

footer > div:nth-child(1) {
    padding: 20px;
    text-align: left;
    color: #fff;
    font-size: 0;
}

footer div:nth-child(1) h1 {
    padding: 0;
    font-size: 12px;
    line-height: 1;
}

footer div:nth-child(1) ul {
    list-style: none;
}

footer div:nth-child(1) ul li b {
    display: inline-block;
    padding: 10px 0 5px 0;
    font-size: 10px;
    font-weight: 900;
}

footer div:nth-child(1) ul li p {
    padding: 0;
    font-size: 10px;
}

footer div:nth-child(2) {
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
}

footer div:nth-child(2) img {
    width: 100px;
}

footer div:nth-child(2) p {
    padding: 10px 0 0 0;
    font-size: 10px;
    font-weight: 100;
}