@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



body {
    margin: 0;
}

a { 
    text-decoration: none;
    color: black;
}



* {
    margin: 0px;
    padding: 0px;
}



a {
    text-decoration: none;
}

img {
    border: none;
}

.contents {
    max-width: 2000px;
    background-color: #ffffff;
    margin: 0 auto;
}

.contents-1 {
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 50px;
}

.content-1-benner {
    margin: 0 auto;
    align-items: center;
    padding: 30px;
}

.content-1-text {
    font-family: 'Noto Sans KR', sans-ser   if;
    font-size: 28px;
    width: 100%;
    max-width: 2000px;
    margin: 0px auto;
    color: #000000;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.content-1-subtext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    max-width: 100%;    
    width: 1920px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;     
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.content-1-bottom-button {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

.content-1-button {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.content-1-picture {
    max-width: 700px;
    margin: 0 auto;
}

.content-1-image {
    max-width: 100%;
    height: auto;
}

.content-1-bottom-Explanation {
    height: 50px;
}

.content-1-Explanation {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 10px;
    max-width: 100%;
    width: 1920px;
    margin: 0px auto;
    color: #000000;
}
