ul,
ol,
li {
    list-style: none;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E2E2E2;
}

.header-divide {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.header-logo-image {
    width: 180px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-logo i {
    color: blue;
}

.header-menu {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: left;
}

.header-menu li {
    padding: 8px 20px;
}

.header-icons {
    list-style: none;
    color: black;
    display: flex;
}

.header-icons li {
    padding: 8px 12px;
}

.header-toogleBtn {
    display: none;
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: 24px;
    color: #000000;
    padding: 3.5px;
}

.header-mobile {
    display: none;
}


@media screen and (max-width: 1200px) {
    .header {
        display: block;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .header-divide {
        position: fixed;
        top: 0;
        display: block;
        padding: 20px 24px;
        box-sizing: border-box;
        background: #fff;
        z-index: 100;
    }

    .header-menu {
        display: none;
    }

    .header-mobile {
        display: block;
        height: 84px;
        background: #fff;
        transition: 1s all;
        z-index: -1;
    }

    .header-mobile-menu {
        display: block;
        padding: 0 0 20px 0;
        background: #fff;
        border: none;
        text-align: right;
        transform: translateY(-150%);
        transition: 1s all;
    }

    .header-mobile-menu li {
        padding: 10px 24px;
    }


    .header-toogleBtn {
        display: block;
    }

    .header-mobile.active {
        height: 350px;
    }

    .header-mobile.active ul {
        transform: translateY(calc(0% + 84px));
    }
}