.visual-area {
    width: 100%;
    max-width: 1600px;  
    height: auto;
    margin: 0 auto;
}

.visual-area-content {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}

.visual-area-text {
    padding: 100px 10px;
    margin: 0 auto;
}   

.visual-area-date {
    padding-left: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    font-weight: 500;
    color: #000000;
}

.visual-area-maintext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;   
    font-weight: 900;
    color: #000000;
}

.visual-area-subtext {
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    font-weight: 700;
    color: #000000;
}

.contents-1 {
    max-width: 2000px;
    margin: 0 auto;
    padding: 150px 0px;
}

.content-1-picture {
    margin: 0 auto;
    max-width: 2000px;
}

.content-1-image {
    width: 100%;
}

.contents-1-text {
    max-width: 2000px;
    margin: 0 auto; 

    text-align: center;
}

.content-1-maintext {
    padding: 50px 0px;
    max-width: 2000px;
    margin: 0 auto; 
    color: #000000;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;   
    font-weight: 700;
}

.content-1-subtext {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto; 
    color: #000000;
    text-align: left;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;   
    font-weight: 300;
}   

.content-1-hashtag {
    padding: 50px 20px;
    max-width: 1600px;
    margin: 0 auto; 
    color: #000000;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;   
    font-weight: 300;
}

.content-1-button {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.content-1-link-image {
    margin: 0 auto;
    max-width: 100px;
}


.content-1-picture-1 {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}

.content-1-image-1 {
    max-width: 1400px;
    width: 100%;
    border-radius: 10px;
}

