@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    margin: 0;
}

a { 
    text-decoration: none;
    color: black;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E2E2E2;
}

.header-divide {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.header-logo-image {
    width: 180px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-logo i {
    color: blue;
}

.header-menu {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: left;
}

.header-menu li {
    padding: 8px 20px;
}

.header-icons {
    list-style: none;
    color: black;
    display: flex;
}

.header-icons li {
    padding: 8px 12px;
}

.header-toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #000000;
    padding: 3.5px;
}

@media screen and (max-width: 1200px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 24px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-menu li {
        width: 100%;
        text-align: right;
    }

    .header-icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header-toogleBtn {
        display: block;
    }

    .header-menu.active,
    .header-icons.active {
        display: flex;
    }
}

* {
    margin: 0px;
    padding: 0px;
}



a {
    text-decoration: none;
}

img {
    border: none;
}

.visual-area {
    width: 100%;
    max-width: 1600px;  
    height: auto;
    margin: 0 auto;
}

.visual-area-content {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}

.visual-area-text {
    padding: 100px 10px;
    margin: 0 auto;
}   

.visual-area-date {
    padding-left: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    font-weight: 500;
    color: #000000;
}

.visual-area-maintext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;   
    font-weight: 900;
    color: #000000;
}

.visual-area-subtext {
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    font-weight: 700;
    color: #000000;
}

.contents-1 {
    max-width: 2000px;
    margin: 0 auto;
    padding: 150px 0px;
}

.content-1-picture {
    margin: 0 auto;
    max-width: 2000px;
}

.content-1-image {
    width: 100%;
}

.contents-1-text {
    max-width: 2000px;
    margin: 0 auto; 

    text-align: center;
}

.content-1-maintext {
    padding: 50px 0px;
    max-width: 2000px;
    margin: 0 auto; 
    color: #000000;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;   
    font-weight: 700;
}

.content-1-subtext {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto; 
    color: #000000;
    text-align: left;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;   
    font-weight: 300;
}   

.content-1-hashtag {
    padding: 50px 20px;
    max-width: 1600px;
    margin: 0 auto; 
    color: #000000;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;   
    font-weight: 300;
}

.content-1-button {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.content-1-link-image {
    margin: 0 auto;
    max-width: 100px;
}


.content-1-picture-1 {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}

.content-1-image-1 {
    max-width: 1400px;
    width: 100%;
    border-radius: 10px;
}

