.visual-area {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}

.visual-area-content {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    background-image: url(../images/Notice/banner-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visual-area-text {
    padding: 100px 30px;
    text-align: center;
}

.visual-area-maintext {
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
    color: #000000;
}

.visual-area-subtext {
    padding-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

.contents-1 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px 0px;
}

.contents-1-text {
    max-width: 1600px;
    margin: 0 auto;
}

.content-1-maintext {
    padding: 40px;
    color: #000000;
    text-align: center;

    font-family: 'Gowun Batang', serif;
    font-size: 50px;
    font-weight: 500;

    background-image: url(../images/background-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-1-subtext {
    padding: 20px;
    color: #000000;
    text-align: center;

    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: 500;
}

.content-2 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inline-2 {
    margin: 25px;
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 1px rgb(223, 223, 223);
    transition: all 1s;
}

.inline-2:hover {
  box-shadow: 0px 0px 25px 1px rgb(185 185 185);
}

.inline-2:hover img{
  transform: scale(1.1);
}

.content-2-picture {
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.content-2-image {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    transition: all 1s;
}

.content-2-text {
    margin: 0 auto;
    vertical-align: top;
    border-radius: inherit;
    text-align: left;

    padding: 20px;
}

.content-2-date {
    color: #000000;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.content-2-maintext {
    color: #000000;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.content-2-subtext {
    color: #414141;
    margin-top: 20px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
}