@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
}

body {
    margin: 0;
}

a { 
    text-decoration: none;
    color: black;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E2E2E2;
}

.header-divide {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.header-logo {

}

.header-logo-image {
    width: 180px;
    height: auto;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.header-logo i {
    color: blue;
}

.header-menu {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: left;
}

.header-menu li {
    padding: 8px 20px;
}

.header-icons {
    list-style: none;
    color: black;
    display: flex;
}

.header-icons li {
    padding: 8px 12px;
}

.header-toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: : column;
        align-items: flex-start;
        padding: 8px; 24px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-menu li {
        width: 100%;
        text-align: right;
    }

    .header-icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header-toogleBtn {
        display: block;
    }

    .header-menu.active,
    .header-icons.active {
        display: flex;
    }
}

.visual-area {
    align-items: center;
    max-width: 2000px;
    height: auto;
    margin: 0 auto;
}

.visual-area-content {
    
}

.slide-banner {

}

* {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

.slide {
    position: relative;
    overflow: hidden;
    width: 2000px;
    max-width: 100%;
    height: auto;
}

.panel {
    width: 400%;
}

.panel:after {
    content: "";
    display: block;
    clear: both;
}

.panel > li {
    width: 25%;
    max-width: 2000px;
    height: auto;
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.banner-1 {
    max-width: 100%;
    height: auto;
}

.panel > li:nth-of-type(1) {
    background-image: url(images/MAIN-homepage-open.png);
    background-size: contain;
}

.panel > li:nth-of-type(2) {    
    background-image: url(images/MAIN-homepage-open.png);
    background-size: contain;
}

.panel > li:nth-of-type(3) {
    background-image: url(images/MAIN-homepage-open.png);
    background-size: contain;
}

.dot:after {
    content: "";
    display: block;
    clear: both;
}

.dot {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.dot > li {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: -9999px;
    cursor: pointer;
}

.dot > li.on {
    background-color: #342f2f;
}

.prev {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    cursor: pointer;
}
    
.right-button {
    max-width: 100%;
    height: auto;
}

.next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    cursor: pointer;
}

.left-button {
    max-width: 100%;
    height: auto;
}


.contents {
    max-width: 2000px;
    background-color: #000000;
    margin: 0 auto;
}

.slide-banner {
    
}

.contents-1 {
    max-width: 2000px;  
    background-color: #000000;
    margin: 0 auto;
    margin-top: 50px;
}

.content-1-benner {
    margin: 0 auto;
    align-items: center;
    padding: 30px;
}

.content-1-text {
    font-family: 'Noto Sans KR', sans-ser   if;
    font-size: 4.5vh;
    width: 100%;
    max-width: 1920x;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.content-1-subtext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5vh;
    max-width: 100%;    
    width: 1920px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;     
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.content-1-picture {
    max-width: 500px;
    margin: 0 auto;
}

.content-1-image {
    max-width: 100%;
    height: auto;
}

.content-1-bottom-Explanation {
    height: 50px;
}

.content-1-Explanation {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 15px;
    max-width: 100%;
    width: 1920px;
    margin: 0px auto;
    color: #ffffff;
}

.content-1-bottom-button {
    text-align: center;
}

.content-1-button {
    cursor: pointer;
}

footer {
    border: 1px solid #E2E2E2;
    border-right: 0px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    margin: 0px auto;
    width: 100%;
    height: auto;
}

.footer-area {
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
    max-width: 2000px;
    padding: 1.5vw;
    text-align: center;
    overflow: hidden;
}

.footer-text {
    padding: 20px 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    display: inline-block;
    float: left;
}

.service-center {
    text-align: left;
    font-size: 1.5vh;
}

.copyright {
    text-align: left;
    font-size: 1.5vh;
}

.footer-SNS {
    padding: 20px 20px;
    display: inline-block;
    float: right;
}

.kakaotalk {
    max-width: 35px;
    height: auto;
    display: inline-block;
}

.gunship-community {
    max-width: 35px;
    height: auto;
    display: inline-block;
}

.youtube {
    max-width: 35px;
    height: auto;
    display: inline-block;
}
