@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

body {
    margin: 0;
}

a { 
    text-decoration: none;
    color: black;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E2E2E2;
}

.header-divide {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.header-logo-image {
    width: 180px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-logo i {
    color: blue;
}

.header-menu {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: left;
}

.header-menu li {
    padding: 8px 20px;
}

.header-icons {
    list-style: none;
    color: black;
    display: flex;
}

.header-icons li {
    padding: 8px 12px;
}

.header-toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #000000;
    padding: 3.5px;
}



@media screen and (max-width: 1100px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 24px;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-menu li {
        width: 100%;
        text-align: right;
    }

    .header-icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header-toogleBtn {
        display: block;
    }

    .header-menu.active,
    .header-icons.active {
        display: flex;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

.visual-area {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}

.visual-area-content {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    background-image: url(images/mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visual-area-text {
    padding: 100px 30px;
    text-align: center;
}   

.visual-area-maintext {
    font-family: 'Gowun Batang', serif;
    font-size: 40px;   
    font-weight: 700;
    white-space: nowrap;
}

.visual-area-subtext {
    padding-top: 100px;
    font-family: 'Gowun Batang', serif;
    font-size: 15px;   
    font-weight: 700;
    color: #FFFFFF;
}

.content {
    background-color: #FFFCDC;
    max-width: 1600px;
    margin: 0 auto;

    text-align: center;
}

.contents-1 {
    max-width: 1600px;
    margin: 0 auto;
}

.contents-1-text {
    max-width: 1600px;
    margin: 0 auto;
}

.content-1-maintext {
    padding: 40px;
    color: #000000;
    text-align: center;
    
    font-family: 'Gowun Batang', serif;
    font-size: 50px;   
    font-weight: 500;
}

.content-1-subtext {
    width: 100%;
    max-width: 100%; 
    margin: 0px auto;
    color: #000000;
    text-align: center;
    
    font-family: 'Gowun Batang', serif;
    font-size: 20px;   
    font-weight: 500;
}

.contents-2 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 0px;
    padding-bottom: 200px;
}

.contents-2-text {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 0px;
}

.content-2-maintext {
    padding: 50px;
    color: #000000;
    text-align: center;
    
    font-family: 'Gowun Batang', serif;
    font-size: 50px;   
    font-weight: 500;
}

.content-2-subtext {
    margin: 0px auto;
    color: #000000;
    text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    
    font-family: 'Gowun Batang', serif;
    font-size: 20px;   
    font-weight: 500;
}

.content-3-maintext {
    padding: 10px;
    color: #000000;
    text-align: center;
    padding-bottom: 100px;
    
    font-family: 'Gowun Batang', serif;
    font-size: 30px;   
    font-weight: 500;
}

.PR-team {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.button {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    padding: 10%;
}

.content-4-maintext {
    padding: 20px;
    color: #ffffff;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    font-weight: 700;
}

footer {
    border: 1px solid #E2E2E2;
    border-right: 0px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    margin: 0px auto;
    width: 100%;
    height: auto;
}

.footer-area {
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
    max-width: 2000px;
    padding: 1.5vw;
    text-align: center;
    overflow: hidden;
}

.footer-text {
    padding: 20px 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    display: block;
    float: left;
}

.service-center {
    text-align: left;
    font-size: 16px;
}

.copyright {
    text-align: left;
    font-size: 16px;
}

.footer-SNS {
    padding: 20px 20px;
    display: block;
    float: right;
}

.kakaotalk {
    max-width: 35px;
    height: auto;
    display: inline-block;
}

.gunship-community {
    max-width: 35px;
    height: auto;
    display: inline-block;
}

.youtube {
    max-width: 35px;
    height: auto;
    display: inline-block;
}