@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {margin: 0; padding: 0}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    padding: 0;
    background: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 100;
}

button img {
    width: 100%;
    height: 100%;
}

ul.canvas {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    list-style: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul::-webkit-scrollbar {
    display: none;
}

ul.canvas > li {
    overflow: hidden;
    overflow-y: auto;
    display: inline-block;
    position: relative;
    padding: 50px 5%;
    width: 100%;
    height: 100%;
    scroll-snap-align: end;
    box-sizing: border-box;
}

ul.canvas > li h1, h2 {
    font-family: 'Noto Sans KR', sans-serif;

}

ul.canvas > li:nth-child(1) {
   background: #ADCDFF;
}

ul.canvas >  li:nth-child(2) {
    background: #BDE8E5;
}

ul.canvas > li:nth-child(3) {
    background: #E0CBFF;
}

ul.canvas > li:nth-child(4) {
    background: #FCBABA;
}

ul.canvas > li:nth-child(5) {
    background: #919191;
}

ul.canvas > li:nth-child(1) h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    width: 90%;
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    transform: translateX(-50%) translateY(-50%);
}

ul.canvas > li:nth-child(1) h2 {
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    transform: translateX(-50%) translateY(-50%);
}

ul.canvas > li:nth-child(2) h1 {
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}

ul.canvas > li:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    background: none;
    list-style: none;
}

ul.canvas > li:nth-child(2) ul li {
    flex: 1 1 40%;
    margin: 5px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color: #000;
    font-size: 0;
}

ul.canvas > li:nth-child(2) ul li a {
    display: block;
    padding: 5px;
    color: #000;
    font-size: 0.8rem;
    text-decoration: none;
}

ul.canvas > li:nth-child(2) ul li a img {
    width: 100%;
    transition: .5s all;
}

ul.canvas > li:nth-child(2) ul li a:hover img {
    scale: 1.1;
}

ul.canvas > li:nth-child(2) ul li a img.asg {
    animation: asg 5s ease infinite;
}

@keyframes asg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

ul.canvas > li:nth-child(2) ul li a img.blitz {
    animation: blitz 5s ease infinite;
}

@keyframes blitz {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

ul.canvas > li:nth-child(2) ul li a.arrow {
    background: url(../join/arrow-right-s-line.svg) no-repeat right 5px center;
}

ul.canvas > li:nth-child(2) h2 {
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    transform: translateX(-50%) translateY(-50%);
}